/**
 * Darties select dropdown theme
 * Author: Daniel Lucas | Krystal Conseil
 */

 .dk_container:focus {
 	outline: 0;
 }

 .dk_container a {
	cursor: pointer;
	text-decoration: none;
  position: relative;
 }

/* Label */
.dk_label {
	background: transparent url(../img/dropkick-left.png) no-repeat 0 0;
	display: block;
	line-height: 19px;
	padding: 10px 0 9px 0;
  width: 200px;
	color: #686868;
	font-family: "Ubuntu", sans-serif;
  font-size: 16px;
}

.dk_toggle {
	background: transparent url(../img/dropkick-right.png) no-repeat top right;
	display: block;
	height: 37px;
	margin-right: 6px;
	padding-right: 35px;
	text-decoration: none;
	font-size: 12px;
  width: auto !important;
  min-width: 150px;
  margin: 18px auto 0;
}

.dk_options {
  position: relative;
  z-index: 100;
  top: 56px !important;
}

.dk_options_inner {
  margin: 0 31px 10px;
}

.dk_options_inner li {
	height: 28px;
  line-height: 28px;
}

.dk_options_inner li a {
	font-family: "Ubuntu", sans-serif;
	color: #686868;
	border-top: 2px solid #eeeeee;
}

.dk_options_inner li:nth-child(even) {
	background: #f5f5f5;
}

.dk_options_inner li:nth-child(odd) {
	background: #fafafa;
}

/***** Critical to the continued enjoyment of working dropdowns ******/

.dk_container {
  display: none;
  position: relative;
}
  .dk_container a {
    outline: 0;
  }

.dk_toggle {
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  position: relative;
  zoom: 1;
}

.dk_open {
  position: relative;
}
  .dk_open .dk_options {
    display: block;
  }
  .dk_open .dk_label {
    color: inherit;
  }

.dk_options {
  display: none;
  margin-top: -1px;
  position: absolute;
  right: 0;
  width: 100%;
}
  .dk_options a,
  .dk_options a:link,
  .dk_options a:visited {
    display: block;
  }
  .dk_options_inner {
    overflow: auto;
    position: relative;
  }

.dk_touch .dk_options {
  overflow: hidden;
}

.dk_touch .dk_options_inner {
  max-height: none;
  overflow: visible;
}

.dk_fouc select {
  position: relative;
  top: -99999em;
  visibility: hidden;
}

/***** End Critical to the continued enjoyment of working dropdowns ******/